.headerline .active {
    color: #333;
}

[data-theme="dark"] {
    .headerline .active {
        color: var(--mui-palette-text-primary);
    }

    .investment-selection input {
        background: none;
    }
}
